
<!-- Dank Background gif-->
<%# <video autoplay muted loop id="bg-media">
<source src="https://giant.gfycat.com/PlaintivePoisedIvorygull.webm" type="video/mp4">
</video> %>
<%= image_tag("OLD_NORTH.jpg", :id => "bg-media") %>

<!--Title Container-->
<div class="container-fluid" id="title-container">
<a href="https://www.uco.edu/" style="background-color: transparent;">
    <%= image_tag("UCO Logo.png", :id => "UCO-Logo") %>
</a>
</div>
<!--Search Bars-->
<div class="input-group" id="Search-Bars">
<div class="input-group-prepend">
    <span class="input-group-text">First and Second Building</span>
</div>
<input type="text" aria-label="First Building" class="form-control">
<input type="text" aria-label="Second Building" class="form-control">
</div>

<!--Main Map-->
<div class="container-fluid" id="Map">
<!-- Google Maps -->
<%# <div style='width: 800px;'> %>
    <div id="map"></div>
<%# </div> %>

<%= link_to 'Edit Buildings', buildings_path %>

<script type="text/javascript">
    function initMap() {
        handler = Gmaps.build('Google');
        handler.buildMap({ 
            provider: {}, 
            internal: {
                id: 'map'
            }
            }, 
            function() {
                markers = handler.addMarkers(<%=raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
            }
        );
    }

    $( document ).ready(function() {
        handler = null;
        initMap();
    });
    </script>
</div>
<!-- End Map -->